.seccion-uno {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 5vw;
  }


  
  .contenedor-textos {
	display: flex;
	width: 32rem;
	max-width: 33rem;
	height: 35rem;
	position: relative;
	margin: 10px;
	margin-bottom: 10%;
  }
  .contenedor-logo {
	display: flex;
	width: 23rem;
	max-width: 23rem;
	height: 34rem;
	position: relative;
	margin: 10px;
  }
  
  .texto-grande {
	color: #121212;
	width: 610px;
	height: 237px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Poppins;
	text-align: left;
	font-size: 65px;
	letter-spacing: 0;
	font-weight: bold;
  }
  
  .texto-corto {
	color: #6f6f6f;
	width: 571px;
	height: 168px;
	position: absolute;
	left: 1px;
	top: 17vw;
	font-family: Poppins;
	text-align: left;
	font-size: 22px;
	letter-spacing: 0;
  }
  
  .btn_donar {
	cursor: pointer;
	background-color: #77d1cd;
	width: 160px;
	height: 56px;
	position: absolute;
	top:100%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 5px;
	bottom: 0%;
	transition: background-color 0.3s ease;

}

.btn_donar:hover {
	background-color: #60a7a3;
  }

.texto_donar {
	text-decoration: none;
	color: #ffffff;
	width: 26vw;
	height: 24px;
	position: absolute;
	left: 5%;
	transform: translateX(-50%);
	transform: translateY(50%);
	font-family: Poppins;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.btn_contactar {
	cursor: pointer;
	width: 160px;
	height: 56px;
	position: absolute;
	top:100%;
	left: 60%;
	transform: translateX(-50%);
	border-radius: 5px;
	bottom: 0%;
	transition: background-color 0.3s ease;

}

.btn_contactar:hover {
	background-color: #7a7a7a;
  }
  
  .btn_contactar:hover .texto-contactar {
	color: aliceblue;
  }
.texto-contactar {
	text-decoration: none;
	color: #6f6f6f;
	width: 112px;
	height: 28px;
	position: absolute;
	left: 7%;
	transform: translateX(-50%);
	transform: translateY(50%);
	font-family: Poppins;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

  
  .imagen {
	margin-top: 4% ;
	width: 507px;
	height: 507px;
	position: relative;
	background-image: url(../imagenes/logo.jpeg);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
  justify-content: center;
  align-items: center;
  }
  

  /* Estilos para pantallas grandes */
  @media (max-width: 1000px) {
	.seccion-uno {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: center;
		margin-top: 0vw;
	  }
	.imagen {
		margin-top: 0%;
		width: auto;
		margin-left: 5vw;
	
	  }
	.contenedor-textos {
		width: 40rem;
		height: 85vw;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20%;


	  }
	  .contenedor-logo {
		width: 32rem;
		max-width: 33rem;
		height: 34rem;
		display: block;
		margin-bottom: 15vw;
		margin-top: 13vw;
		
	  }
	  .texto-grande {
		font-size: 6vw;
		width: 70vw;
		text-align: center;

	  }
	
	  .texto-corto {
		font-size: 3.2vw;
		width: 80vw;
		position:absolute;
		top:30%;
		margin-top: 5vw;
	  }
	  .texto_donar{
		font-size: 3vw;
		left: 25px;
		top:4px
		
	  }
	
	  .btn_donar {
		background-color: #77d1cd;
		width: 27vw;
		height: 82px;
		position: absolute;
		top: 92%;
		transform: translateX(-50%);
		border-radius: 5px;
		bottom: 0%;
		left: 0%;
		margin-left: 40%;

	
	}
	.btn_contactar{
		position: absolute;
		top: 92%;
		margin-left: 42%;
		width: 27vw;
		height: 82px;
	}

.texto-contactar {
	font-size: 3vw;
	left: 35px;
	top:4px
}

	  
  }
  