.titulo-container {
    font-size: 3em;
  }

  .img-container{
    max-width: 70%;
  }
  
  .parrafo-container {
    font-size: 1.2em;
    margin-top: 20px;
  }
  #textos-izquierda{
    margin-left: 50vw;

  }
  /* Media Query para pantallas de tamaño máximo de 768px */
  @media (max-width: 1000px) {
    #textos-izquierda{
        margin-right: 0;
    
      }
    .titulo-container {
        font-size: 3.5em;
      text-align: center;
      margin-top: 10px;
    }
  
    .parrafo-container {
      font-size: 1.8em;
      margin-top: 30px;
    }
    .img-container{
        max-width: 85%;
      }
      
  }
  