.navbar{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(260deg, #0F68F2 0%, #77D1CD 100%);

}

@media (max-width: 1000px) {
 

    .dropdown-item, .navbar-brand,
    .navbar-nav .nav-link {
        font-size: 4vw; /* Ajusta el tamaño de fuente según tus necesidades */
        text-align: center;
    }
  
    .nav-item {
        margin-top: 2vw; /* Ajusta el margen vertical según tus necesidades */
        margin-bottom: 3vw; /* Ajusta el margen vertical según tus necesidades */
    }
    .container-fluid{
        margin: 20px;
    }
    #hoja{
        height: 70px;
        width: 70px;
        background-image: url("ruta/a/la/imagen-de-hoja-240x240.png");
        background-size: cover;
    }
}